.header-buttons {
    overflow: hidden;
    background-color: lightslategray;
    position: fixed;
    top: 0;
    width: 100%;
    padding-top: 16px;
    padding-bottom: 16px;
    margin: 0;
    height: auto;
    display: inline-block;
    text-align: center;
    z-index: 1;
}

.mat-raised-button {
    margin: 10px;
    padding: 10px;
}

.mat-raised-button:hover {
    background:lightgray;
}