.header-buttons {
    overflow: hidden;
    background-color: lightslategray;
    position: fixed;
    top: 0;
    width: 100%;
    padding-top: 16px;
    padding-bottom: 16px;
    margin: 0;
    height: auto;
    display: inline-block;
    text-align: center;
    z-index: 1;
}

.mat-raised-button {
    margin: 10px;
    padding: 10px;
}

.mat-raised-button:hover {
    background:lightgray;
}

.mat-accent {
    background-color: rgb(107, 144, 168);
}

mat-card {
  width: 75%;
  padding: 16px;
  display: inline-block;
  text-align: center;
}

.routes-buttons {
    width: 75%;
    display: inline-block;
    text-align: left;
}

.auth-buttons{
    width: 20%;
    display: inline-block;
    text-align: right;
}
