<div class="button-row">
  <a mat-raised-button color="primary" [routerLink]="['/rinnovi']">
    <mat-icon>list</mat-icon>
  </a>
</div>
<form [formGroup]="rinnoviForm" (ngSubmit)="onFormSubmit(rinnoviForm.value)">

  <mat-form-field class="example-full-width">
    <input matInput placeholder="Sks key" formControlName="SR_SS_ID" [errorStateMatcher]="matcher">
    <mat-error>
      <span *ngIf="!rinnoviForm.get('SR_SS_ID').valid && rinnoviForm.get('SR_SS_ID').touched">Inserisci la chiave Sks</span>
    </mat-error>
  </mat-form-field>


  <div class="button-row">
    <button type="submit" [disabled]="!rinnoviForm.valid" mat-raised-button color="primary">
      <mat-icon>save</mat-icon>
    </button>
  </div>
</form>