.footer-info {
    overflow: hidden;
    background-color: lightslategray;
    /* position: fixed; */
    /* top: 0; */
    width: 100%;
    padding-top: 16px;
    padding-bottom: 16px;
    margin: 0;
    height: auto;
    display: inline-block;
    text-align: center;
    color: whitesmoke;
}