<div class="search-div">
  <a mat-raised-button color="primary" [routerLink]="['/sks-create']" [appCheckPermissions]="5" fragment="{{userId}}">
    <!-- <a mat-raised-button color="primary" [appCheckPermissions]="5" > -->
    <mat-icon>add</mat-icon>
  </a>
  <app-search-bar [dataSource]="dataSource"></app-search-bar>
</div>

<div class="example-container mat-elevation-z8">
  <div [hidden]="!loading">
    <app-loading-table-spinner></app-loading-table-spinner>
  </div>

  <table [hidden]="loading" mat-table [dataSource]="dataSource" matSort matSortActive="SS_CREATED" matSortDisableClear
    matSortDirection="desc">

    <!-- Name Column -->
    <ng-container matColumnDef="SS_KEY">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Licenza </th>
      <td mat-cell *matCellDef="let element" matTooltip="license id: {{element.SS_ID}}" matTooltipPosition="above"
        class="nome-col">
        {{element.SS_KEY}} </td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="SS_SC_ID">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Cliente </th>
      <td mat-cell *matCellDef="let element"> {{element.sksCustomerName}} </td>
    </ng-container>

    <!-- Email Column -->
    <ng-container matColumnDef="SS_OEM">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> OEM </th>
      <td mat-cell *matCellDef="let element">{{element.sksOems}}
      </td>
    </ng-container>

    <!-- Phone Column -->
    <ng-container matColumnDef="SS_CREATED">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Data di Creazione </th>
      <td mat-cell *matCellDef="let element"> {{element.SS_CREATED | date:'yyyy-MM-dd'}} </td>
    </ng-container>

    <!-- Phone Column -->
    <ng-container matColumnDef="SS_ACTIVATION_DATE">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Attivazione </th>
      <td mat-cell *matCellDef="let element"> {{element.SS_ACTIVATION_DATE | date:'yyyy-MM-dd'}} </td>
    </ng-container>

    <!-- Indirizzo Column -->
    <ng-container matColumnDef="SS_EXPIRE">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Scadenza </th>
      <td mat-cell *matCellDef="let element" [ngStyle]="{'color':checkExpDate(element.SS_EXPIRE)}" [matTooltip]="checkExpDate(element.SS_EXPIRE) == 'red' ? 'la chiave è scaduta!' : ''"
        matTooltipPosition="above">
        {{element.SS_EXPIRE | date:'yyyy-MM-dd'}} </td>
    </ng-container>

    <!-- Nome Referente Column -->
    <ng-container matColumnDef="SS_STATUS">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Status </th>
      <td mat-cell *matCellDef="let element" [ngStyle]="{'color': element.SS_STATUS == 1 ? '' : 'lightgrey'}">
        {{element.SS_STATUS == 1 ? 'Abilitata': 'Disabilitata'}} </td>
    </ng-container>

    <!-- Nome Referente Column -->
    <ng-container matColumnDef="rinnoviCount">
      <th mat-header-cell *matHeaderCellDef> N. Rinnovi </th>
      <td class="centered" mat-cell *matCellDef="let element"> {{rinnoviObj[element.SS_KEY]}} </td>
    </ng-container>

    <!-- Nome Referente Column -->
    <ng-container matColumnDef="allowedSerials">
      <th mat-header-cell *matHeaderCellDef> Matricole </th>
      <td class="centered" mat-cell *matCellDef="let element"> {{serials[element.SS_ID]}} </td>
    </ng-container>

    <!-- Inline Actions -->
    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef>Actions</th>
      <td mat-cell *matCellDef="let element">

        <a mat-icon-button matTooltip="Rinnova chiave" color="accent" [routerLink]="['/sks-renew', element.SS_ID]"
          [appCheckPermissions]="4">
          <mat-icon>autorenew</mat-icon>
        </a>

        <a mat-icon-button matTooltip="Modifica chiave" color="primary" [routerLink]="['/sks-edit', element.SS_ID]"
          [appCheckPermissions]="5">
          <mat-icon>edit</mat-icon>
        </a>
        <a mat-icon-button matTooltip="Disassocia PC" color="primary" (click)="decouplePC(element.SS_ID)" [disabled]="element.SS_SP_ID===0"
          [appCheckPermissions]="5">
          <mat-icon>desktop_access_disabled</mat-icon>
        </a>

        <a mat-icon-button matTooltip="Matricole Associate" color="accent" (click)="onMatricoleLink('/matricole', element.SS_ID)"
          [appCheckPermissions]="8">
          <mat-icon>ballot</mat-icon>
        </a>

        <a mat-icon-button matTooltip="Disabilita chiave" color="warn" (click)="disableSks(element.SS_ID)" *ngIf="element.SS_STATUS!==0"
          [appCheckPermissions]="5">
          <mat-icon>not_interested</mat-icon>
        </a>
        <a mat-icon-button matTooltip="Abilita chiave" color="primary" (click)="enableSks(element.SS_ID)" *ngIf="element.SS_STATUS===0"
          [appCheckPermissions]="5">
          <mat-icon>offline_pin</mat-icon>
        </a>

        <a mat-icon-button matTooltip="Elimina chiave" color="warn" (click)="deleteSks(element.SS_ID)"
          [appCheckPermissions]="5">
          <mat-icon>delete</mat-icon>
        </a>

        <a mat-icon-button matTooltip="Show Details" color="primary" (click)="showDetails(element.SS_ID, element.sksPcHwId, element.sksCustomerName, element.sksOems)">
          <mat-icon>launch</mat-icon>
        </a>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let element; columns: displayedColumns;"></tr>

  </table>
  <mat-paginator [pageSizeOptions]="[15, 30, 60]" showFirstLastButtons></mat-paginator>
</div>
