/* You can add global styles to this file, and also import other style files */

body {
  margin: 0;
}

/* Buttons */

.mat-icon-button {
  width: 30px;
}

/* filter controls */

.search-div {
  margin-top: 10px;
  margin-bottom: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.search-form-field {
  width: 40%;
  margin-left: 10px;
  padding: 1px 10px 4px 10px;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 5px;
}

.search-form-field div.mat-form-field-underline {
  display: none;
}

.search-form-field div.mat-form-field-infix {
  border-top: 0px;
}

.search-form-field div.mat-form-field-wrapper {
  padding-bottom: 0px;
}

.search-form-field div.mat-form-field-suffix button {
  height: 32px;
  width: 32px;
}

/* notification */

snack-bar-container.success {
  background-color: #5aa15a !important;
  color: #fff;
}

snack-bar-container.warn {
  background-color: #cf8259 !important;
  color: #fff;
}

snack-bar-container.nodata {
  background-color: #598ccf !important;
  color: #fff;
}

snack-bar-container.notification simple-snack-bar {
  font-size: 18px !important;
  font-weight: bold;
}

/* mat-confirm-dialog (customised dialog) */

.confirm-dialog-container .mat-dialog-container {
  border-radius: 0.25em 0.25em 0.4em 0.4em;
  padding: 0px;
}

.confirm-dialog-container .content-container {
  margin: 5px 5px 15px 5px;
  display: flex;
}

.confirm-dialog-container #close-icon {
  margin-left: auto;
  order: 2;
  font-weight: bolder;
}

.confirm-dialog-container #close-icon:hover {
  cursor: pointer;
}

.confirm-dialog-container #no-button {
  height: 50px;
  width: 50%;
  border-radius: 0px;
}

.confirm-dialog-container #yes-button {
  height: 50px;
  width: 50%;
  border-radius: 0px;
}

.confirm-dialog-container span.content-span {
  width: 100%;
  padding: 35px 5px 35px 15px;
  text-align: center;
  font-size: 20px;
  font-family: "Roboto";
}
