table {
  width: 100%;
}

tr.example-detail-row {
  height: 0;
}

tr.example-element-row:not(.example-expanded-row):hover {
  background: #f5f5f5;
}

tr.example-element-row:not(.example-expanded-row):active {
  background: #efefef;
}

td.mat-cell:last-of-type,
td.mat-footer-cell:last-of-type,
th.mat-header-cell:last-of-type {
  padding-right: 4px;
}

th.mat-header-cell {
  text-align: center;
  vertical-align: middle;
}

.example-full-width {
  padding-left: 20px;
  width: 25%;
}

.mat-icon-button {
  width: 30px;
}

.button-row {
  margin: 10px 0;
}

.example-element-row td {
  border-bottom-width: 0;
}

.example-element-detail {
  overflow: hidden;
  display: flex;
}

.example-element-diagram {
  min-width: 80px;
  border: 2px solid lightslategray;
  padding: 8px;
  font-weight: lighter;
  margin: 8px 0;
  height: 114px;
}

.example-element-details {
  min-width: 80px;
  padding: 16px;
  padding-top: 0;
  font-weight: lighter;
  margin: 8px 0;
  height: 104px;
  opacity: 0.5;
  display: inline-block;
  /* align-self: flex-end; */
}

.example-element-name {
  font-weight: bold;
  font-size: 40px;
  line-height: normal;
}

.example-element-actions {
  padding: 16px;
  min-width: 80px;
  display: inline-block;
  align-self: flex-end;
}

.green-button {
  background-color: #05881b;
}

/* .mat-paginator {
  display: block;
  margin: 8px;
  float: right;
  background: none!important;
} */

/* Dialog */

.mat-dialog-container {
  background: transparent !important;
  color: rgba(0, 0, 0, 0) !important;
  box-shadow: 0 0 0 0 rgba(10, 0, 0, 0), 0 0 0 0 rgba(0, 0, 0, 0),
    0 0 0 0 rgba(0, 0, 0, 0) !important;
}

.centered {
  text-align: center;
}
