<div class="button-row">
  <a mat-raised-button color="primary" [routerLink]="['/clienti']"><mat-icon>list</mat-icon></a>
</div>
<mat-card class="example-card">
  <mat-card-header>
    <mat-card-title><h2>{{cliente.SC_NOME}}</h2></mat-card-title>
    <mat-card-subtitle>{{cliente.SC_INDIRIZZO}}</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <dl>
      <dt>Email:</dt>
      <dd>{{cliente.SC_EMAIL}}</dd>
      <dt>Telefono:</dt>
      <dd>{{cliente.SC_TELEFONO}}</dd>
      <dt>Nome Referente:</dt>
      <dd>{{cliente.SC_REFERENTE_NOME}}</dd>
      <dt>Telefono Referente:</dt>
      <dd>{{cliente.SC_TEL_REFERENTE}}</dd>
      <dt>TS:</dt>
      <dd>{{cliente.SC_TS | date}}</dd>
    </dl>
  </mat-card-content>
  <mat-card-actions>
    <a mat-raised-button color="primary" [routerLink]="['/clienti-edit', cliente.SC_ID]"><mat-icon>edit</mat-icon></a>
    <a mat-raised-button color="warn" (click)="deleteCustomer(cliente.SC_ID)"><mat-icon>delete</mat-icon></a>
  </mat-card-actions>
</mat-card>