<div class="container">
    <mat-card>
        <div class="button-row">
            <a mat-raised-button color="primary" [routerLink]="['/utenti']">
                <mat-icon>list</mat-icon>
            </a>
        </div>
        <form [formGroup]="keyForm" (ngSubmit)="onFormSubmit()">

            <section formArrayName="permsLev" *ngFor="let level of keyForm.controls.permsLev.controls; let i = index">
                <mat-checkbox [checked]="levels[i].selected" [formControlName]="i">{{levels[i].description}}</mat-checkbox>
            </section>

            <div class="button-row">
                <button type="submit" mat-raised-button color="primary">
                    <mat-icon>save</mat-icon>
                </button>
            </div>
        </form>
    </mat-card>
</div>