<div class="container">
  <mat-card>
    <div class="button-row">
      <mat-card-title>Change Password</mat-card-title>
    </div>

    <mat-card-content>
      <form [formGroup]="utenteForm" (ngSubmit)="onFormSubmit(utenteForm.value)">
        <mat-form-field class="example-full-width">
          <input matInput placeholder="Username" formControlName="username" [errorStateMatcher]="matcher" [readonly]="true">
          <mat-error>
            <span *ngIf="!utenteForm.get('username').valid && utenteForm.get('username').touched">Inserisci username</span>
          </mat-error>
        </mat-form-field>

        <mat-form-field class="example-full-width">
          <input matInput placeholder="Nuova Password" formControlName="password" [errorStateMatcher]="matcher" type="password">
          <mat-error>
            <span *ngIf="!utenteForm.get('password').valid && utenteForm.get('password').touched">Inserisci password</span>
          </mat-error>
        </mat-form-field>
        <div class="button-row">
          <a mat-stroked-button color="basic" (click)="onBackward('/utenti')" class="mat-stroked-button">
            <mat-icon>keyboard_backspace</mat-icon>
          </a>
          <button type="submit" [disabled]="!utenteForm.valid" mat-raised-button color="primary">
            <mat-icon>save</mat-icon>
          </button>
        </div>
      </form>
    </mat-card-content>

  </mat-card>
</div>
