<div class="search-div">
  <a mat-raised-button color="primary" [routerLink]="['/clienti-create']" [appCheckPermissions]="6">
    <mat-icon>add</mat-icon>
  </a>
  <app-search-bar [dataSource]="dataSource"></app-search-bar>
</div>

<div class="example-container mat-elevation-z8">
  <div [hidden]="!loading">
    <app-loading-table-spinner></app-loading-table-spinner>
  </div>
  <!-- <div [hidden]="this.clienti.length !== 0">Sorry, there's no data to display</div> -->

  <table [hidden]="loading" mat-table [dataSource]="dataSource" matSort>
    <!-- Name Column -->
    <ng-container matColumnDef="SC_NOME">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Nome Cliente </th>
      <td mat-cell *matCellDef="let element" class="nome-col"> {{element.SC_NOME}} </td>
    </ng-container>

    <!-- Email Column -->
    <ng-container matColumnDef="SC_EMAIL">
      <th mat-header-cell *matHeaderCellDef> Email </th>
      <td mat-cell *matCellDef="let element"> {{element.SC_EMAIL}} </td>
    </ng-container>

    <!-- Phone Column -->
    <ng-container matColumnDef="SC_TELEFONO">
      <th mat-header-cell *matHeaderCellDef> Telefono </th>
      <td mat-cell *matCellDef="let element"> {{element.SC_TELEFONO}} </td>
    </ng-container>

    <!-- Indirizzo Column -->
    <ng-container matColumnDef="SC_INDIRIZZO">
      <th mat-header-cell *matHeaderCellDef> Indirizzo </th>
      <td mat-cell *matCellDef="let element"> {{element.SC_INDIRIZZO}} </td>
    </ng-container>


    <!-- Tel Referente Column -->
    <ng-container matColumnDef="SC_PIVA">
      <th mat-header-cell *matHeaderCellDef> Partita Iva </th>
      <td mat-cell *matCellDef="let element"> {{element.SC_PIVA}} </td>
    </ng-container>
    <!-- Tel Referente Column -->
    <ng-container matColumnDef="SC_COD_FISCALE">
      <th mat-header-cell *matHeaderCellDef> Codice Fiscale </th>
      <td mat-cell *matCellDef="let element"> {{element.SC_COD_FISCALE}} </td>
    </ng-container>

    <!-- Nome Referente Column -->
    <ng-container matColumnDef="SC_REFERENTE_NOME">
      <th mat-header-cell *matHeaderCellDef> Nome Referente </th>
      <td mat-cell *matCellDef="let element"> {{element.SC_REFERENTE_NOME}} </td>
    </ng-container>
    <!-- Tel Referente Column -->
    <ng-container matColumnDef="SC_TEL_REFERENTE">
      <th mat-header-cell *matHeaderCellDef> Contatto Referente </th>
      <td mat-cell *matCellDef="let element"> {{element.SC_TEL_REFERENTE}} </td>
    </ng-container>

    <!-- inline actions -->
    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef>Actions</th>
      <td mat-cell *matCellDef="let element">
        <!-- <button mat-icon-button matTooltip="Show Details">
          <mat-icon>launch</mat-icon>
        </button> -->
        <a mat-icon-button color="primary" matTooltip="Edit" [routerLink]="['/clienti-edit', element.SC_ID]"
          [appCheckPermissions]="6">
          <mat-icon>edit</mat-icon>
        </a>
        <a mat-icon-button matTooltip="Delete" color="warn" (click)="onDeleteCustomer(element.SC_ID)"
          [appCheckPermissions]="6">
          <mat-icon>delete</mat-icon>
        </a>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let element; columns: displayedColumns;"></tr>

  </table>
  <mat-paginator [pageSizeOptions]="[10, 20, 40]" showFirstLastButtons></mat-paginator>
</div>
