<div class="search-div">
  <app-search-bar [dataSource]="dataSource"></app-search-bar>
</div>

<div class="example-container mat-elevation-z8">
  <div [hidden]="!loading">
    <app-loading-table-spinner></app-loading-table-spinner>
  </div>
  <table [hidden]="loading" mat-table [dataSource]="dataSource" matSort>

    <!-- Tel Referente Column -->
    <ng-container matColumnDef="SPKH_ID">
      <th mat-header-cell *matHeaderCellDef> Id </th>
      <td mat-cell *matCellDef="let element"> {{element.SPKH_ID}} </td>
    </ng-container>

    <!-- Tel Referente Column -->
    <ng-container matColumnDef="SPKH_SPK_ID">
      <th mat-header-cell *matHeaderCellDef> Pack Id </th>
      <td mat-cell *matCellDef="let element"> {{element.SPKH_SPK_ID}} </td>
    </ng-container>

    <!-- Tel Referente Column -->
    <ng-container matColumnDef="SPKH_SU_ID">
      <th mat-header-cell *matHeaderCellDef> Username </th>
      <td mat-cell *matCellDef="let element"> {{element.username}} </td>
    </ng-container>

    <!-- Tel Referente Column -->
    <ng-container matColumnDef="SPKH_SS_ID">
      <th mat-header-cell *matHeaderCellDef> Sks Id </th>
      <td mat-cell *matCellDef="let element"> {{element.SPKH_SS_ID}} </td>
    </ng-container>

    <!-- Tel Referente Column -->
    <ng-container matColumnDef="SPKH_ACTION">
      <th mat-header-cell *matHeaderCellDef> Log </th>
      <td mat-cell *matCellDef="let element"> {{element.SPKH_ACTION}} </td>
    </ng-container>

    <!-- Phone Column -->
    <ng-container matColumnDef="SPKH_TS">
      <th mat-header-cell *matHeaderCellDef> Data Creazione </th>
      <td mat-cell *matCellDef="let element"> {{element.SPKH_TS | date:'yyyy-MM-dd'}} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let element; columns: displayedColumns;"></tr>

  </table>
  <mat-paginator [pageSizeOptions]="[30, 60, 90]" showFirstLastButtons></mat-paginator>
</div>
