<div class="container">
    <mat-card>
        <div>
            <img id="logo" name="logo" mat-card-image height="200" width="200" [src]="url" alt="Photo Preview">
            <label>
                <input hidden type="file" name="logo" #imgFileInput (change)="onFileSelected($event)" />
            </label>
            <button mat-raised-button (click)="imgFileInput.click()">
                <mat-icon>add_photo_alternate</mat-icon>
            </button>

        </div>
        <hr>
        <div class="example-full-width">
            <mat-radio-group>
                <mat-radio-button color="primary" value="default-theme" (click)="onSetTheme('default-theme')">Green</mat-radio-button>
                <mat-radio-button color="primary" value="light-theme" (click)="onSetTheme('light-theme')">Light</mat-radio-button>
                <mat-radio-button color="primary" value="red-theme" (click)="onSetTheme('red-theme')">Red</mat-radio-button>
                <mat-radio-button color="primary" value="blue-theme" (click)="onSetTheme('blue-theme')">Blue</mat-radio-button>
                <mat-radio-button color="primary" value="yellow-theme" (click)="onSetTheme('yellow-theme')">Yellow</mat-radio-button>
              </mat-radio-group>
        </div>

        <div class="button-row">
            <a mat-stroked-button color="basic" [routerLink]="['/sks']" class="mat-stroked-button" (click)="resetLogo()">
                <mat-icon>keyboard_backspace</mat-icon>
            </a>
            <button mat-raised-button color="primary" [disabled]="!selectedFile" (click)="upload()">
                <mat-icon>save</mat-icon>
            </button>
            <!-- <button type="submit" [disabled]="!enableThemeSetting" mat-raised-button color="primary">
                <mat-icon>save</mat-icon>
            </button> -->
        </div>
        <!-- <form [formGroup]="customizeForm" (ngSubmit)="onFormSubmit(customizeForm.value)"> -->
        <!-- <mat-form-field class="example-full-width">
                <input matInput hidden>
                <mat-radio-group placeholder="Select your theme" formControlName="SCZ_THEME">
                    <mat-radio-button color="primary" value="default-theme" (click)="onSetTheme('default-theme')">Green</mat-radio-button>
                    <mat-radio-button color="primary" value="light-theme" (click)="onSetTheme('light-theme')">Light</mat-radio-button>
                    <mat-radio-button color="primary" value="red-theme" (click)="onSetTheme('red-theme')">Red</mat-radio-button>
                </mat-radio-group>
            </mat-form-field>

            <div class="button-row">
                <a mat-stroked-button color="basic" [routerLink]="['/sks']" class="mat-stroked-button">
                    <mat-icon>keyboard_backspace</mat-icon>
                </a>
                <button type="submit" [disabled]="!enableThemeSetting" mat-raised-button color="primary">
                    <mat-icon>save</mat-icon>
                </button>
            </div> -->
        <!-- </form> -->
    </mat-card>
</div>
