<div class="container">
  <mat-card>

    <div class="username">
      <h2>Username: {{username}}</h2>
    </div>
    <div>
      <img id="logo" name="logo" mat-card-image height="300" width="auto" [src]="url" alt="Photo Preview" (error)="imgError()">
      <label>
        <input hidden type="file" name="logo" #imgFileInput (change)="onFileSelected($event)" />
      </label>
      <button mat-raised-button (click)="imgFileInput.click()">
        <mat-icon>add_photo_alternate</mat-icon>
      </button>
    </div>

    <hr>

    <div class="example-full-width">
      <mat-radio-group class="example-radio-group">
        <mat-radio-button mat-raised-button [ngStyle]="{'color': theme}" class="example-radio-button" *ngFor="let theme of themes"
          [value]="theme + '-theme'" [checked]="theme + '-theme' === userTheme" (click)="onSetTheme(theme + '-theme')">
          {{theme | titlecase }}
        </mat-radio-button>
      </mat-radio-group>
    </div>

    <section *ngIf="userTheme === 'custom-theme'">
      <mat-form-field>
        <input matInput placeholder="Primary Color" [errorStateMatcher]="matcher" [style.background]="primaryColor"
          [value]="primaryColor" [colorPicker]="primaryColor" [cpPosition]="'top'" [cpOutputFormat]="'rgba'"
          [cpAlphaChannel]="'disabled'" (colorPickerChange)="onPrimaryColorChange($event)">
      </mat-form-field>

      <mat-form-field>
        <input matInput placeholder="Accent Color" [errorStateMatcher]="matcher" [style.background]="accentColor"
          [value]="accentColor" [colorPicker]="accentColor" [cpPosition]="'top'" [cpOutputFormat]="'rgba'"
          [cpAlphaChannel]="'disabled'" (colorPickerChange)="onAccentColorChange($event)">
      </mat-form-field>

      <mat-form-field>
        <input matInput placeholder="Warn Color" [errorStateMatcher]="matcher" [style.background]="warnColor" [value]="warnColor"
          [colorPicker]="warnColor" [cpPosition]="'top'" [cpOutputFormat]="'rgba'" [cpAlphaChannel]="'disabled'"
          (colorPickerChange)="onWarnColorChange($event)">
      </mat-form-field>
    </section>
    <hr>

    <div class="button-row">
      <a mat-stroked-button color="basic" [routerLink]="['/utenti']" class="mat-stroked-button">
        <mat-icon>keyboard_backspace</mat-icon>
      </a>
      <button mat-raised-button color="primary" (click)="upload()">
        <mat-icon>save</mat-icon>
      </button>
    </div>



  </mat-card>

</div>
