<div class="search-div">
  <!-- <a mat-raised-button color="primary" [routerLink]="['/pc-create']" [appCheckPermissions]="7">
    <mat-icon>add</mat-icon>
  </a> -->
  <app-search-bar [dataSource]="dataSource"></app-search-bar>
</div>

<div class="example-container mat-elevation-z8">
  <div [hidden]="!loading">
    <app-loading-table-spinner></app-loading-table-spinner>
  </div>

  <table [hidden]="loading" mat-table [dataSource]="dataSource" matSort>

    <!-- Name Column -->
    <ng-container matColumnDef="SP_HW_ID">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Hardware Id </th>
      <td mat-cell *matCellDef="let element" class="nome-col"> {{element.SP_HW_ID}} </td>
    </ng-container>

    <!-- Email Column -->
    <ng-container matColumnDef="SP_IP">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Ip </th>
      <td mat-cell *matCellDef="let element"> {{element.SP_IP}} </td>
    </ng-container>

    <!-- Phone Column -->
    <ng-container matColumnDef="SP_LAST_RX">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Ultima ricezione </th>
      <td mat-cell *matCellDef="let element"> {{element.SP_LAST_RX | date:'yyyy-MM-dd'}} </td>
    </ng-container>

    <!-- Phone Column -->
    <ng-container matColumnDef="SP_PC_DATE_TIME">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Data Pc </th>
      <td mat-cell *matCellDef="let element"> {{element.SP_PC_DATE_TIME | date:'yyyy-MM-dd'}} </td>
    </ng-container>

    <!-- Nome Referente Column -->
    <ng-container matColumnDef="SP_STATUS">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Status </th>
      <td mat-cell *matCellDef="let element" [ngStyle]="{'color': element.SP_STATUS == 0 ? '' : 'red'}">
        {{element.SP_STATUS===0
        ? 'non bannato': 'bannato'}} </td>
    </ng-container>
    <!-- inline actions -->
    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef>Actions</th>
      <td mat-cell *matCellDef="let element">
        <!-- <button mat-icon-button matTooltip="Show Details">
          <mat-icon>launch</mat-icon>
        </button> -->
        <a mat-icon-button matTooltip="Ban PC" color="warn" (click)="banPc(element.SP_ID)" *ngIf="element.SP_STATUS===0"
          [appCheckPermissions]="7">
          <mat-icon>not_interested</mat-icon>
        </a>
        <a mat-icon-button matTooltip="Unban PC" color="primary" (click)="unbanPc(element.SP_ID)" *ngIf="element.SP_STATUS!==0"
          [appCheckPermissions]="7">
          <mat-icon>offline_pin</mat-icon>
        </a>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let element; columns: displayedColumns;"></tr>

  </table>
  <mat-paginator [pageSizeOptions]="[10, 20, 40]" showFirstLastButtons></mat-paginator>
</div>