<div class="button-row">
    <a mat-raised-button color="primary" [routerLink]="['/utenti']">
        <mat-icon>list</mat-icon>
    </a>
</div>
<form [formGroup]="keyForm" (ngSubmit)="onFormSubmit(keyForm.value)">

    <div>
        <section *ngFor="let level of levels">
            <div >
                <mat-checkbox [checked]="level.selected">{{level.description}}</mat-checkbox>
            </div>
        </section>
    </div>

    <div class="button-row">
        <button type="submit" [disabled]="!keyForm.valid" mat-raised-button color="primary">
            <mat-icon>save</mat-icon>
        </button>
    </div>
</form>