<div class="container">
  <mat-card>
    <form [formGroup]="sksForm" (ngSubmit)="onFormSubmit(sksForm.value)">

      <mat-form-field class="example-full-width">
        <input matInput placeholder="Key" formControlName="SS_KEY" [errorStateMatcher]="matcher" [readonly]="true">
        <mat-error>
          <span *ngIf="!sksForm.get('SS_KEY').valid && sksForm.get('SS_KEY').touched">Inserisci la chiave</span>
        </mat-error>
      </mat-form-field>

      <mat-form-field class="example-full-width">
        <mat-select placeholder="OEM" formControlName="SS_OEM" [errorStateMatcher]="matcher">
          <mat-option *ngFor="let oem of oems" [value]="oem.value" matTooltip="{{oem.description}}" matTooltipPosition="right">
            {{oem.name}}
          </mat-option>
        </mat-select>
        <mat-error>
          <span *ngIf="!sksForm.get('SS_OEM').valid && sksForm.get('SS_OEM').touched">Inserisci l'OEM</span>
        </mat-error>
      </mat-form-field>

      <mat-form-field class="example-full-width">
        <mat-select placeholder="Cliente" formControlName="SS_SC_ID" [errorStateMatcher]="matcher">
          <mat-option *ngFor="let cliente of clientiMap" [value]="cliente.value">
            {{cliente.name}}
          </mat-option>
        </mat-select>
        <mat-error>
          <span *ngIf="!sksForm.get('SS_SC_ID').valid && sksForm.get('SS_SC_ID').touched">Inserisci il Cliente</span>
        </mat-error>
      </mat-form-field>

      <mat-form-field class="example-full-width">
        <input matInput placeholder="Attivato da" formControlName="SS_ACTIVATED_BY" [errorStateMatcher]="matcher">
        <mat-error>
          <span *ngIf="!sksForm.get('SS_ACTIVATED_BY').valid && sksForm.get('SS_ACTIVATED_BY').touched">Inserisci il
            nome
            di chi attiva la chiave</span>
        </mat-error>
      </mat-form-field>

      <mat-form-field class="example-full-width">
        <input matInput placeholder="Referente attivazione" formControlName="SS_ACTIVATION_REFERENT"
          [errorStateMatcher]="matcher">
        <mat-error>
          <span *ngIf="!sksForm.get('SS_ACTIVATION_REFERENT').valid && sksForm.get('SS_ACTIVATION_REFERENT').touched">Inserisci
            il nome del referente</span>
        </mat-error>
      </mat-form-field>

      <div class="button-row">
        <a mat-stroked-button color="basic" (click)="sksDetails()" class="mat-stroked-button">
          <mat-icon>keyboard_backspace</mat-icon>
        </a>
        <button type="submit" [disabled]="!sksForm.valid" mat-raised-button color="primary">
          <mat-icon>save</mat-icon>
        </button>
      </div>
    </form>
  </mat-card>
</div>
