.header-buttons {
    overflow: hidden;
    /* background-color: lightslategray; */
    position: fixed;
    top: 0;
    width: 100%;
    padding-top: 16px;
    padding-bottom: 16px;
    margin: 0;
    height: auto;
    display: inline-block;
    text-align: center;
    z-index: 1;
}

.mat-raised-button {
    margin: 10px;
    padding: 10px;
}

.mat-raised-button:hover {
    background:lightgray;
}

/* .mat-accent {
    background-color: rgb(107, 144, 168);
} */

.site-title {
  width: 75%;
  padding: 16px;
  display: inline-block;
  text-align: center;
  margin: 0, auto;
}

.routes-buttons {
    width: 75%;
    display: inline-block;
    text-align: left;
}

.auth-buttons{
    width: 20%;
    display: inline-block;
    text-align: right;
}

.navbuttons {
    width: 50%;
    display: inline-block;
    text-align: left;
}

.logo-wrapper {
    width: 20%;
    display: inline-block;
    text-align: left;
}

.logo {
    margin-bottom: -30px;
    width: 90%;
    bottom: 0;
}

.welcome {
    width: 20%;
    display: inline-block;
    text-align: right;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    font-size: 16px;
    color: whitesmoke;
}

