<mat-toolbar color="primary" class="header-buttons mat-elevation-z8">

  <div class="site-title" *ngIf="!authService.loggedIn()">
    <div>
      <span>Welcome to Superactivator</span>
    </div>
    <div class="logo-wrapper">
      <img class="logo" [src]="defaultLogoPath">
    </div>
  </div>

  <div class="routes-buttons" *ngIf="!!authService.loggedIn()">

    <div class="menu-wrapper">
      <button mat-fab (click)="toggleSideNav()">
        <mat-icon>menu</mat-icon>
      </button>
    </div>

    <div class="logo-wrapper">
      <img class="logo" [src]="logoPath">
    </div>

    <div class="table-name">
      <span>
        <h1 color="accent">{{listUrl}}</h1>
      </span>
    </div>

    <div class="welcome">
      <span>You are logged as: {{username}}</span>
    </div>

    <div class="auth-buttons">
      <!-- <button mat-raised-button *ngIf="!authService.loggedIn()" [routerLink]="['/register']" routerLinkActive="mat-accent">Signup</button> -->
      <!-- <button mat-raised-button *ngIf="!authService.loggedIn()" [routerLink]="['/login']" routerLinkActive="mat-accent">Signin</button> -->
      <button color="warn" mat-button *ngIf="!!authService.loggedIn()" [routerLink]="['/changepassword']"
        routerLinkActive="mat-accent" matTooltip="Change Password" matTooltipPosition="left">
        <mat-icon class="mat-18">vpn_key</mat-icon>
      </button>
      <button mat-button *ngIf="!!authService.loggedIn()" (click)="onLogout()" routerLinkActive="mat-accent" matTooltip="Logout"
        matTooltipPosition="left">
        <mat-icon class="mat-18">phonelink_off</mat-icon>
      </button>
    </div>
  </div>
</mat-toolbar>
