<mat-toolbar color="primary" class="header-buttons mat-elevation-z8">
  <div class="site-title" *ngIf="!authService.loggedIn()">
    <div>
      <span>Welcome to Superactivator</span>
    </div>
    <div class="logo-wrapper">
      <img class="logo" [src]="defaultLogoPath">
    </div>
  </div>
  <div class="routes-buttons" *ngIf="!!authService.loggedIn()">
    <div class="logo-wrapper">
      <img class="logo" [src]="logoPath">
    </div>
    <div class="welcome">
      <span>You are logged as: {{user['SU_UNA'] || username}}</span>
    </div>
  </div>
  <div class="auth-buttons">
    <!-- <button mat-raised-button *ngIf="!authService.loggedIn()" [routerLink]="['/register']" routerLinkActive="mat-accent">Signup</button> -->
    <!-- <button mat-raised-button *ngIf="!authService.loggedIn()" [routerLink]="['/login']" routerLinkActive="mat-accent">Signin</button> -->
    <button mat-stroked-button *ngIf="!!authService.loggedIn()" [routerLink]="['/changepassword']" routerLinkActive="mat-accent">Change
      Password
    </button>
    <button mat-stroked-button *ngIf="!!authService.loggedIn()" [routerLink]="['/customize']" routerLinkActive="mat-accent">Customize</button>
    <button mat-stroked-button *ngIf="!!authService.loggedIn()" (click)="onLogout()" routerLinkActive="mat-accent">Logout</button>

  </div>
</mat-toolbar>
